/* Add a black background color to the top navigation */
body {
    background-color: black;
    color: white;
}

.topnav {
    background-color: black;
    overflow: hidden;
    border-bottom: 3px solid white
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightgray;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: dodgerblue;
    color: white;
}

table {
    border-collapse: collapse;
    border-color: white;
}

table, th, td {
    text-align: center;
    vertical-align: center;
    padding: 5px;
    border: 1px solid black;
    border-color: white;
}

th {
    background-color: dodgerblue;
    color: white;
}

tr.ok {
    background-color: black;
    color: white;
}

tr.warn {
    background-color: orange;
    color: black;
}

tr.bad {
    background-color: red;
    color: white;
}
