table {
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
    vertical-align: center;
    padding: 5px;
    border: 1px solid black;
}

tr.ok {
    background-color: white;
    color: black;
}

tr.warn {
    background-color: orange;
    color: black;
}

tr.bad {
    background-color: red;
    color: white;
}
